@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

.monospace{
    font-family: 'IBM Plex Mono', monospace;
    padding-top: 0px;
}
h1 {
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.vert {
    color: #20C20E;
}
.item>img {
    max-width: 100px; 
    height: auto;
}
.portfolio{
    width: 100%;
    background-color: darkgrey;
}


@media screen and (max-width: 640px) {
    h1 {
        text-align: center;
        font-size: 30px;
        margin-top: 10px;
        margin-bottom: 40px;
    }
  }